/*============= start features area =============*/
.features-area{
    padding-top: 185px;
    padding-bottom: 140px;
    overflow: hidden;
}
.features-item{
    margin-bottom: 273px;
    position: relative;
    &.f-item2{
        margin-bottom: 75px;
        .f-image{
            left: 0;
            right: auto;
            img{
                float: right;
            }
        }
        .f-content{
            padding-right: 80px;
            padding-left: 190px;
        }
    }
}
.f-br{
    position: relative;
    &:before{
        content: "";
        background: url(../image/border.png) no-repeat scroll center bottom;
        width: 100%;
        height: calc(100% - 247px);
        position: absolute;
        bottom: -247px;
        left: 0;
    }
}
.f-image{
    position: absolute;
    right: 0;
    bottom: -80px;
    width: calc(100% - 960px;);
    @media (max-width:1780px){
        width: calc(100% - 820px);
    }
    @media (max-width:1780px){
        width: calc(100% - 710px);
    }
}
.f-content{
    background: #f3f9ff;
    padding: 80px 200px 85px 70px;
    h2{
        font: 400 35px/48px $pop;
        color: $vio;
        position: relative;
        padding-bottom: 30px;
        &:before{
            content: '';
            width: 40px;
            height: 2px;
            background: $l-vio;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }
    p{
        font-size: 20px;
        line-height: 36px;
        color: $w-vio;
        padding: 33px 0px 48px;
    }
    .feature-btn{
        font-size: 14px;
        line-height: 41px;
        letter-spacing: 2.1px;
        border: 2px solid transparent;
        box-shadow: 5px 8.66px 20px 0px rgba(68, 84, 255, 0.118);
        color: #fff;
        padding: 6px 56px;
        text-transform: uppercase;
        border-radius: 50px;
        position: relative;
        transition: all 400ms linear 0s;
        overflow: hidden;
        z-index: 1;
        &:before{
            content: '';
            position: absolute;
            top: -35px;
            bottom: 0;
            left: 0;
            background-image: -webkit-linear-gradient(left, #a3a7fc 0%, #6bb4fa 100%);
            background-image: -o-linear-gradient(left, #a3a7fc 0%, #6bb4fa 100%);
            background-image: linear-gradient(left, #a3a7fc 0%, #6bb4fa 100%);
            background-image: -moz-linear-gradient(left, #a3a7fc 0%, #6bb4fa 100%);
            -webkit-transform: translateX(0) rotate(-14deg);
            -ms-transform: translateX(0) rotate(-14deg);
            transform: translateX(0) rotate(-14deg);
            transition: all 400ms linear 0s;
            z-index: -1;
            width: 112%;
            height: 224%;
        }
        &:hover{
            color: #8991f7;
            border-color:#a3a7fc; 
            &:before{
                transform: translateX(-100%) rotate(-17deg);
                top: 0;
            } 
        }
    }
}
/*============= End features area =============*/

/*============= start powerful-features area =============*/
.powerful-features{
    background: url("../image/powerful-bg.jpg") no-repeat scroll center 0;
    background-size: cover;
    position: relative;
    z-index: 0;
    padding: 138px 0px 136px;
    &:before{
        content: "";
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background-image: -moz-linear-gradient(left, rgba(107,180,250,0.80) 50%, rgba(163,167,252,0.80) 50%);
        background-image: -webkit-linear-gradient(left, rgba(107,180,250,0.80) 50%, rgba(163,167,252,0.80) 50%);
        background-image: -ms-linear-gradient(left, rgba(107,180,250,0.80) 50%, rgba(163,167,252,0.80) 50%); 
    }
}
.po-title{
    font: 400 28px/30px $pop;
    color: #fff;
    padding-bottom: 12px;
}
.vs-icon{
    width: 100px;
    height: 100px;
    background: #fff;
    text-align: center;
    font-size: 24px;
    line-height: 100px;
    color: $l-vio;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -50px;
}
.powerful-items{ 
    &.power-item-l{
        padding-right: 101px;
    }
    &.power-item-r{
        padding-left: 101px;
    }
}
.powerful-item{
    position: relative;
    color: #fff;
    margin-top: 60px;
    .media-left{
        padding-right: 40px;
        i{
            font-size: 48px;
        }
    } 
    .media-body{
        h2{
            font-size: 18px;
            line-height: 25px;
            font-weight: 600;
            padding-bottom: 18px;
            color: #fff;
        }
    }
}
/*============= End powerful-features area =============*/

.tab-features-area{
}
.tab-features{
    border-color: #ebebeb;
    li{
        margin: 0px;
        a{
            font-size: 18px;
            line-height: 92px;
            color: $w-vio;
            padding: 0px;
            margin: 0px;
            border: 0px;
            border-radius: 0px;
            position: relative;
            transition: all 0.6s linear;
            &:before{
                content: "";
                width: 0px;
                height: 1px;
                bottom: -1px;
                left: 0;
                position: absolute;
                background: transparent;
                transition: all 0.5s linear;
            }
            &:hover,&:focus{
                background: transparent;
                color: $l-vio;
                &:before{
                    background: $l-vio;
                    width: 100%;
                }
            }
        }
        &.active{
            a{
                color: $l-vio;
                border: 0px;
                border-radius: 0px;
                cursor: pointer;
                &:before{
                    background: $l-vio;
                    width: 100%;
                }
                &:hover,&:focus{
                    border: 0px;
                    color: $l-vio;
                    cursor: pointer;
                }
            }
        }
        & + li{
            padding-left: 127px;
        }
    }
}
.features-content{
    padding-top: 60px;
    .tab-pane{
        .tab-img{
            text-align: center;
            img{
                box-shadow: 0px 5px 10px 0px rgba(26, 38, 74, 0.078);
                max-width: 100%;
            }
        }
    }
}