.p0{
    padding: 0px;
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration:none;
    &:hover, &:focus{
       text-decoration:none;
    }
}
.row.m0{
    margin: 0px;
}

body, p, h1, h2, h3, h4, h5, h6{
    margin: 0px;
    padding: 0px;
}
body{
    font: 400 16px/28px $pop;
    letter-spacing: 0px;
    color: $w-vio;
}

a,.btn,button{
    text-decoration: none;
    outline: none;
    &:hover,&:focus{
        text-decoration: none;
        outline: none;
    }
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
    outline: none;
    box-shadow: none;
}
section, header, footer{
    &.row{
        margin: 0;
    }
}

.sec-title{
    text-align: center;
    font-family: $pop;
    max-width: 722px;
    margin: 0 auto 65px;
    h2{
        font-weight: 300;
        font-size: 35px;
        line-height: 55px;
        color: $vio;
        position: relative;
        padding-bottom: 26px;
        margin-bottom: 33px;
        &:before{
            content: "";
            width: 40px;
            height: 2px;
            background: $l-vio;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    p{
        font-weight: 400;
        font-size: 20px;
        line-height: 35px;
        color: $w-vio;
    }
}



/* Ripple css
============================================================================================ */
/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
    opacity: 0;
  }
}
.hvr-ripple-out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
}
.hvr-ripple-out:before {
  content: '';
  position: absolute;
  border: #e1e1e1 solid 4px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
}
.hvr-ripple-out:hover:before, .hvr-ripple-out:focus:before, .hvr-ripple-out:active:before {
  -webkit-animation-name: hvr-ripple-out;
  animation-name: hvr-ripple-out;
}
/* End Ripple css
============================================================================================ */
