/*============Start pricing area css=============*/
.pricing-area{
    padding: 136px 0px 140px;
}
.pricing-box{
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 1px 16px 2px rgba(26, 38, 74, .05);
    padding: 38px 0px 45px;
    border-radius: 5px;
    transition: all 0.6s linear;
    .pricing-header{
        color: $l-vio;
        transition: all 0.6s linear;
        i{
            font-size: 72px;
        }
        h2{
            font-size: 24px;
            line-height: 60px;
            text-transform: uppercase;
            font-weight: 500;
            letter-spacing: 2.4px;
            padding: 18px 0px 4px;
        }
    }
    .plan-lists{
        min-height: 160px;
        li{
            font-size: 18px;
            line-height: 40px;
            color: $w-vio;
            transition: all 0.3s linear;
        }
    }
    .packeg_p{
        font-size: 60px;
        color: $l-vio;
        font-weight: 300;
        padding-top: 30px;
        transition: all 0.3s linear;
        span{
            vertical-align: top;
            font-size: 24px;
        }
        small{
            font-size: 16px;
            font-weight: 400;
            color: $l-vio;
        }
    }
    &:hover{
        background-image: -moz-linear-gradient( 90deg, rgb(107,180,250) 0%, rgb(163,167,252) 100%);
        background-image: -webkit-linear-gradient( 90deg, rgb(107,180,250) 0%, rgb(163,167,252) 100%);
        background-image: -ms-linear-gradient( 90deg, rgb(107,180,250) 0%, rgb(163,167,252) 100%);
        box-shadow: 10px 17.321px 40px 0px rgba(68, 84, 255, 0.118);
        .pricing-header,.plan-lists li{
            color: #fff;
        }
        .packeg_p,small{
            color: #fff;
        }
        .purchase-btn{
            border-color: #fff;
            color: $l-vio;
            background: #fff;
            box-shadow: 5px 8.66px 20px 0px rgba(68, 84, 255, 0.078);
        }
    }
}
/*============End pricing area css=============*/

/*============Start subscribe-area css=============*/
.subscribe-area{
    background: url("../image/map-bg.jpg") no-repeat scroll center 0;
    background-size: cover;
    padding: 130px 0px 140px;
}
.subcribe{
    max-width: 630px;
    margin: 0 auto;
    position: relative;
    .form-control{
        font: 400 16px/40px $pop;
        border: 1px solid #ebebeb;
        box-shadow: none;
        padding: 0px 30px;
        border-radius: 40px;
        color: #878c95;
        width: 100%;
        height: 60px;
        @include placeholder{
            color: #878c95;
        }
    }
    label{
        position: absolute;
        top: 0;
        right: 0;
        .sub_btn{
            font: 400 14px/46px $pop;
            color: #fff;
            text-transform: uppercase;
            border-radius: 40px;
            padding: 6px 54px;
            letter-spacing: 2.1px;
            overflow: hidden;
            position: relative;
            background: #fff;
            transition: all 400ms linear 0s;
            z-index: 1;
            &:before{
                content: '';
                position: absolute;
                top: -35px;
                bottom: 0;
                left: 0;
                background-image: -webkit-linear-gradient(90deg, #6bb4fa 0%, #a3a7fc 100%);
                background-image: -o-linear-gradient(90deg, #6bb4fa 0%, #a3a7fc 100%);
                background-image: linear-gradient(90deg, #6bb4fa 0%, #a3a7fc 100%);
                background-image: -moz-linear-gradient(90deg, #6bb4fa 0%, #a3a7fc 100%);
                -webkit-transform: translateX(0) rotate(-14deg);
                -ms-transform: translateX(0) rotate(-14deg);
                transform: translateX(0) rotate(-14deg);
                transition: all 400ms linear 0s;
                z-index: -1;
                width: 112%;
                height: 224%;
            }
            &:hover{
                color: #8991f7;
                border-color:#a3a7fc; 
                &:before{
                    transform: translateX(-100%) rotate(-17deg);
                    top: 0;
                } 
            }
        }
    }
}
/*============End subscribe-area css=============*/

