/*----------- fonts variables ------------*/
$pop: 'Poppins', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

/*----------- Colors variables ------------*/
$vio: #2e2e7f;
$w-vio: #8283a4;
$l-vio: #8991f7;

// Placeholder Mixins

@mixin placeholder {
    &.placeholder { @content; }
    &:-moz-placeholder { @content; }
    &::-moz-placeholder { @content; }
    &::-webkit-input-placeholder { @content; }
}